/*body*/
body {
    width:auto;
    margin:0 auto;
    font:
      1em/1.3 Arial,
      Helvetica,
      sans-serif;
      padding:0 auto;
    color:white;
    background-color:black;
}

a[href^="http"]::after{
    content:"";
    display:inline-block;
    width:0.8em;
    height:0.8em;
    margin-left:0.25em;
    background-size:100%;
    background-image:url(../homepage/external-link-26.png);
}


/*header*/
header{
    display:flex;
    gap:0;
    justify-content:  center;
    font-size:calc(0.5rem + 1.2vw);
    background-color: #01B0D3;
    width:auto;
}

header div{
  align-self: center;
}

header img{
    margin-top:5px;
}
/*nav*/
nav div{
    display:flex;
    text-decoration:none;
    border-bottom: 5px solid rebeccapurple;
    border-top:5px solid rebeccapurple;
    height:30px;
    align-items: center;
    gap:10px;
    justify-content: center;
    order:1;
    
}

nav div div,
nav div a{
    flex:1;
    text-decoration:none;
list-style: none;
background: bisque;
line-height: 3;
margin:0;

}

nav div a{
    text-decoration:none;
}

nav div div:hover,
nav div div:focus,
nav div a:visited
nav div a:hover,
nav div a:focus{
    background-color: beige;
}
@media screen and (max-width:565px){
/*main*/

main article{
    margin-bottom: 120px;
    padding:20px;
}

main article #page-1,
main article #page-2,
main article #page-3,
main article #page-4{
    float:inline-start;
    margin-inline-start:20px;
    margin-block-start:20px;
    height:80px;
    width:80px;
    line-height:2;
}

main article h2{
    padding-top:90px;
}

main article .between{
    
}

.prev,
.next{
    border:2px solid rebeccapurple;
    background-color: #01B0D3;
    width:calc(5rem + 1.2vw);
    text-align: center;
    border-radius:20px;
    line-height: 2;
    height:30%;
    width:calc(5rem + 1.2vw);
}
#prev{
    width:calc(5rem + 1.2vw);
    
}

.next{
    float:inline-end;
    margin-inline-end:20px;
    margin-block-end:80px;
   
    width:calc(5rem + 1.2vw);
    line-height:2
}

.prev a,
.next a{
    text-decoration: none;
    color:white;
}

/*Aside*/
aside{
    padding:20px;
    background-color:#01B0D3;
   }

aside div{
    line-height:3;
    
    align-items: center;
    justify-content: center;
    order:1;
    

}

aside a {
  
    text-decoration: none;
    list-style: none;
    margin:0;
    text-align: center;
}

aside div a:hover,
aside div a:focus{
    background-color: beige;
}

aside div a:visited{
    background-color: rgb(180, 185, 133);
}


 
   
/*sidebar*/
.sidebar{
    background-color: #01B0D3;
    padding:20px;
}

/*footer*/
footer{
    border-top: 5px solid rebeccapurple;
    padding:20px;
    background-color:black;
}
}


@media screen and (min-width:565px){
    body{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
       
       
    }

header{
    grid-column:1/6;
    grid-row:1/2;
}

nav{
    grid-column:1/6;
    grid-row:2/3;
}

main{
    grid-column:2/5;
    grid-row:3/5;
    overflow:auto;
   margin-bottom: 90px;
    bottom:110px;
}

aside{
    grid-column:5/6;
    grid-row:3/4;
    position:sticky;
    border-left:1px solid white;
    top:0;
    left:0;
}


 
.sidebar{
    grid-column:1/2;
    grid-row:3/4;
    position:sticky;
    border-right:1px solid white;
    top:0;
    left:0;
}

footer{
    grid-column:1/6;
    grid-row:4/5;
    position:sticky;
    top:90vh;
    height:90px;
}

/*main*/

main article{
   margin-bottom: 120px;
    padding:20px;
}

main article #page-1,
main article #page-2,
main article #page-3,
main article #page-4{
    float:inline-start;
    margin-inline-start:20px;
    margin-block-start:20px;
    height:80px;
    width:80px;
    line-height:2;
}

main article h2{
    padding-top:90px;
}

main article .between{
    
}


.next{
    border:2px solid rebeccapurple;
    background-color: #01B0D3;
    width:calc(5rem + 1.2vw);
    text-align: center;
    border-radius:20px;
    line-height: 2;
    height:30%;
    width:calc(5rem + 1.2vw);
}
.prev{
    border:2px solid rebeccapurple;
    background-color: #01B0D3;
    width:calc(5rem + 1.2vw);
    text-align: center;
    border-radius:20px;
    line-height: 2;
    height:30%;
    width:calc(5rem + 1.2vw);
}

.next{
    float:inline-end;
    margin-inline-end:20px;
    margin-block-end:80px;
   
    width:calc(5rem + 1.2vw);
    line-height:2
}

.prev a,
.next a{
    text-decoration: none;
    color:white;
}

/*Aside*/
aside{
    padding:20px;
    background-color:#01B0D3;
    width:20vw;
   }

aside div{
    line-height:3;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap:calc(20px + 1vw);
    align-items: center;
    justify-content: center;
    order:1;
    

}

aside li {
    background: bisque;
    text-decoration: none;
    list-style: none;
    margin:0;
    text-align: center;
    margin:10px;
}

aside div li:hover,
aside div li:focus{
    background-color: rgb(180, 185, 133);
}

aside li a{
    text-decoration:none;
}




 
   
/*sidebar*/
.sidebar{
    background-color: #01B0D3;
    padding:20px;
}

/*footer*/
footer{
    border-top: 5px solid rebeccapurple;
    padding:20px;
    background-color:black;
}
}



@media screen and (565px<=width<=900px){
    body{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
       
    }

header{
    grid-column:1/5;
    grid-row:1/2;
}

nav{
    grid-column:1/5;
    grid-row:2/3;
}

main{
    grid-column:1/4;
    grid-row:3/5;
    overflow:auto;
   margin-bottom: 20px;
    bottom:110px;
}

aside{
    grid-column:4/5;
    grid-row:3/5;
    position:sticky;
    border-left:1px solid white;
    top:0;
    left:0;
   
}


 
.sidebar{
    grid-column:1/5;
    grid-row:5/6;
   
}

footer{
    grid-column:1/5;
    grid-row:6/7;
   
}

/*main*/

main article{
   margin-bottom: 120px;
    padding:20px;
}

main article #page-1,
main article #page-2,
main article #page-3,
main article #page-4{
    float:inline-start;
    margin-inline-start:20px;
    margin-block-start:20px;
    height:80px;
    width:80px;
    line-height:2;
}

main article h2{
    padding-top:90px;
}

main article .between{
    
}


.next{
    border:2px solid rebeccapurple;
    background-color: #01B0D3;
    width:calc(5rem + 1.2vw);
    text-align: center;
    border-radius:20px;
    line-height: 2;
    height:30%;
    width:calc(5rem + 1.2vw);
}
.prev{
    border:2px solid rebeccapurple;
    background-color: #01B0D3;
    width:calc(5rem + 1.2vw);
    text-align: center;
    border-radius:20px;
    line-height: 2;
    height:30%;
    width:calc(5rem + 1.2vw);
}

.next{
    float:inline-end;
    margin-inline-end:20px;
    margin-block-end:80px;
   
    width:calc(5rem + 1.2vw);
    line-height:2
}

.prev a,
.next a{
    text-decoration: none;
    color:white;
}

/*Aside*/
aside{
    padding:20px;
    background-color:#01B0D3;
    width:20vw;
  
   }

aside div{
    line-height:3;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap:calc(20px + 1vw);
    align-items: center;
    justify-content: center;
    order:1;
    

}

aside li {
    background: bisque;
    text-decoration: none;
    list-style: none;
    margin:0;
    text-align: center;
    margin:10px;
}

aside div li:hover,
aside div li:focus{
    background-color: rgb(180, 185, 133);
}

aside li a{
    text-decoration:none;
}




 
   
/*sidebar*/
.sidebar{
    background-color: #01B0D3;
    padding:20px;
    border-top:10px black solid ;
}

/*footer*/
footer{
    border-top: 5px solid rebeccapurple;
    padding:20px;
    background-color:black;
}
}



